@{Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>权限管理系统</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/css/AdminLTE.css">
    <link rel="stylesheet" href="~/css/datatables.css" />
    <!--皮肤-->
    <link rel="stylesheet" href="~/css/skins/skin-blue.css">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/app.js"></script>
    <style type="text/css">
        .nav-tabs > li.active > a {
            border-radius: 15px 15px 0 0;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="/admin/index" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>F</b>LH</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Admin</b>FLH</span>
            </a>
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/images/user3-128x128.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">Alexander Pierce</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/images/user3-128x128.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        Alexander Pierce - Web Developer
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a href="/login/LoginOut" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar" style="height: auto;">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/images/user3-128x128.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>Alexander Pierce</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input name="q" class="form-control" placeholder="Search..." type="text">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <ul class="sidebar-menu tree" data-widget="tree">
                    <li class="header">权限管理</li>
                    <!-- Optionally, you can add icons to the links -->
                    <li class="active"><a href="#"><i class="fa fa-link"></i> <span>组织机构</span></a></li>
                    <li><a href="#"><i class="fa fa-link"></i> <span>角色管理</span></a></li>
                    <li><a href="#"><i class="fa fa-link"></i> <span>用户管理</span></a></li>
                    <li><a href="#"><i class="fa fa-link"></i> <span>功能管理</span></a></li>
                    <li><a href="#"><i class="fa fa-link"></i> <span>权限管理</span></a></li>
                </ul>
            </section>
        </aside>
        <section class="content-wrapper">
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs" style="margin-top:2px;margin-left:0px;">
                                <li class="active"><a href="#tab_welcome" data-toggle="tab">组织机构　<i class="fa fa-close"></i></a></li>
                                <li><a href="#tab_1" data-toggle="tab">组织机构　<i class="fa fa-close"></i></a></li>
                                <li><a href="#tab_2" data-toggle="tab">角色管理　<i class="fa fa-close"></i></a></li>
                                <li><a href="#tab_3" data-toggle="tab">用户管理　<i class="fa fa-close"></i></a></li>
                                <li class="pull-right"><a href="#"><i class="fa  fa-refresh"></i></a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane" id="welcome">
                                    <iframe src="/admin/Welcome"></iframe>
                                </div>
                                <div class="tab-pane" id="tab_1">
                                    <iframe src="/admin/Department"></iframe>

                                    @*<section>
                                            <button type="submit" class="btn btn-info">新建机构</button>
                                            <button type="submit" class="btn btn-danger">删除所选</button>
                                            <table class="table table-bordered  dataTable" style="border-color:#eee">
                                                <thead>
                                                    <tr role="row">
                                                        <th><input type="checkbox" /></th>
                                                        <th>ID</th>
                                                        <th>部门名称</th>
                                                        <th>部门负责人</th>
                                                        <th>有效状态</th>
                                                        <th>操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr role="row">
                                                        <td><input type="checkbox" /></td>
                                                        <td>1</td>
                                                        <td>程序部</td>
                                                        <td>杨志华</td>
                                                        <td><small class="label bg-green">有效</small></td>
                                                        <td>
                                                            <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                                                            <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                                                        </td>
                                                    </tr>
                                                    <tr role="row">
                                                        <td><input type="checkbox" /></td>
                                                        <td>2</td>
                                                        <td>程序部</td>
                                                        <td>杨志华</td>
                                                        <td><small class="label bg-green">有效</small></td>
                                                        <td>
                                                            <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                                                            <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="checkbox" /></td>
                                                        <td>3</td>
                                                        <td>程序部</td>
                                                        <td>杨志华</td>
                                                        <td><small class="label bg-green">有效</small></td>
                                                        <td>
                                                            <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                                                            <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="checkbox" /></td>
                                                        <td>4</td>
                                                        <td>程序部</td>
                                                        <td>杨志华</td>
                                                        <td><small class="label bg-green">有效</small></td>
                                                        <td>
                                                            <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                                                            <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="checkbox" /></td>
                                                        <td>5</td>
                                                        <td>程序部</td>
                                                        <td>杨志华</td>
                                                        <td><small class="label bg-green">有效</small></td>
                                                        <td>
                                                            <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                                                            <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="checkbox" /></td>
                                                        <td>6</td>
                                                        <td>程序部</td>
                                                        <td>杨志华</td>
                                                        <td><small class="label bg-danger">无效</small></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="checkbox" /></td>
                                                        <td>7</td>
                                                        <td>程序部</td>
                                                        <td>杨志华</td>
                                                        <td><small class="label bg-green">有效</small></td>
                                                        <td>
                                                            <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                                                            <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="checkbox" /></td>
                                                        <td>8</td>
                                                        <td>程序部</td>
                                                        <td>杨志华</td>
                                                        <td><small class="label bg-green">有效</small></td>
                                                        <td>
                                                            <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                                                            <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="checkbox" /></td>
                                                        <td>9</td>
                                                        <td>程序部</td>
                                                        <td>杨志华</td>
                                                        <td><small class="label bg-green">有效</small></td>
                                                        <td>
                                                            <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                                                            <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="checkbox" /></td>
                                                        <td>10</td>
                                                        <td>程序部</td>
                                                        <td>杨志华</td>
                                                        <td><small class="label bg-green">有效</small></td>
                                                        <td>
                                                            <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                                                            <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </section>
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">第 1 - 10 条记录 总计57条记录</div>
                                            </div>
                                            <div class="col-sm-7">
                                                <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                                    <ul class="pagination">
                                                        <li class="paginate_button previous disabled" id="example2_previous"><a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0">第一页</a></li>
                                                        <li class="paginate_button active"><a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0">1</a></li>
                                                        <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0">2</a></li>
                                                        <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0">3</a></li>
                                                        <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="4" tabindex="0">4</a></li>
                                                        <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="5" tabindex="0">5</a></li>
                                                        <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="6" tabindex="0">6</a></li>
                                                        <li class="paginate_button next" id="example2_next"><a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0">最后一页</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>*@
                                </div>
                                <div class="tab-pane" id="tab_2">adsfadsfaf</div>
                                <div class="tab-pane" id="tab_3">adsfasdfdsfadsf</div>

                            </div>
                        </div>
                    </div>
            </section>
        </section>
        <aside class="control-sidebar control-sidebar-dark">
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="active"><a href="#control-sidebar-theme-demo-options-tab" data-toggle="tab"><i class="fa fa-wrench"></i></a></li>
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <div class="tab-content"></div>
        </aside>
    </div>
</body>
</html>
