
<section class="content ifram-content">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">部门名称</label>
            <div class="col-sm-8">
                <input class="form-control" id="inputEmail3">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">部门负责人</label>
            <div class="col-sm-8">
                <select class="form-control"><option>杨志华</option></select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">部门名称</label>
            <div class="col-sm-8">
                <input class="form-control" id="inputEmail3">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">部门负责人</label>
            <div class="col-sm-8">
                <select class="form-control"><option>杨志华</option></select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">部门名称</label>
            <div class="col-sm-8">
                <input class="form-control" id="inputEmail3">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">部门负责人</label>
            <div class="col-sm-8">
                <select class="form-control"><option>杨志华</option></select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">部门名称</label>
            <div class="col-sm-8">
                <input class="form-control" id="inputEmail3">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">部门负责人</label>
            <div class="col-sm-8">
                <select class="form-control"><option>杨志华</option></select>
            </div>
        </div>
    </form>
    <div style="margin:0 auto;text-align:center">
        <button type="button" class="btn btn-danger modelSub" onclick="submit()">保 存</button>
    </div>
</section>
<script type="text/javascript">
    function submit(){
        modelMessage('提交事件');
    }
</script>
