
<section class="content ifram-content">
    <button type="submit" class="btn btn-info" onclick="modelIfram('/Department/Add',{height:450,title:'新建机构'})">新建机构</button>
    <button type="submit" class="btn btn-danger" onclick="modelConfirm('是否删除选部门?',{title:'确认删除'})">删除所选</button>
    <table class="table table-bordered  dataTable" style="border-color:#eee">
        <thead>
            <tr role="row">
                <th><input type="checkbox" /></th>
                <th>ID</th>
                <th>部门名称</th>
                <th>部门负责人</th>
                <th>有效状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr role="row">
                <td><input type="checkbox" /></td>
                <td>1</td>
                <td>程序部</td>
                <td>杨志华</td>
                <td><small class="label bg-green">有效</small></td>
                <td>
                    <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                    <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                </td>
            </tr>
            <tr role="row">
                <td><input type="checkbox" /></td>
                <td>2</td>
                <td>程序部</td>
                <td>杨志华</td>
                <td><small class="label bg-green">有效</small></td>
                <td>
                    <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                    <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>3</td>
                <td>程序部</td>
                <td>杨志华</td>
                <td><small class="label bg-green">有效</small></td>
                <td>
                    <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                    <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>4</td>
                <td>程序部</td>
                <td>杨志华</td>
                <td><small class="label bg-green">有效</small></td>
                <td>
                    <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                    <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>5</td>
                <td>程序部</td>
                <td>杨志华</td>
                <td><small class="label bg-green">有效</small></td>
                <td>
                    <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                    <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>6</td>
                <td>程序部</td>
                <td>杨志华</td>
                <td><small class="label bg-danger">无效</small></td>
                <td></td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>7</td>
                <td>程序部</td>
                <td>杨志华</td>
                <td><small class="label bg-green">有效</small></td>
                <td>
                    <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                    <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>8</td>
                <td>程序部</td>
                <td>杨志华</td>
                <td><small class="label bg-green">有效</small></td>
                <td>
                    <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                    <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>9</td>
                <td>程序部</td>
                <td>杨志华</td>
                <td><small class="label bg-green">有效</small></td>
                <td>
                    <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                    <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>10</td>
                <td>程序部</td>
                <td>杨志华</td>
                <td><small class="label bg-green">有效</small></td>
                <td>
                    <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                    <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>10</td>
                <td>程序部</td>
                <td>杨志华</td>
                <td><small class="label bg-green">有效</small></td>
                <td>
                    <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                    <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>10</td>
                <td>程序部</td>
                <td>杨志华</td>
                <td><small class="label bg-green">有效</small></td>
                <td>
                    <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                    <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>10</td>
                <td>程序部</td>
                <td>杨志华</td>
                <td><small class="label bg-green">有效</small></td>
                <td>
                    <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                    <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>10</td>
                <td>程序部</td>
                <td>杨志华</td>
                <td><small class="label bg-green">有效</small></td>
                <td>
                    <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                    <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>10</td>
                <td>程序部</td>
                <td>杨志华</td>
                <td><small class="label bg-green">有效</small></td>
                <td>
                    <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                    <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>10</td>
                <td>程序部</td>
                <td>杨志华</td>
                <td><small class="label bg-green">有效</small></td>
                <td>
                    <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                    <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>10</td>
                <td>程序部</td>
                <td>杨志华</td>
                <td><small class="label bg-green">有效</small></td>
                <td>
                    <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                    <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>10</td>
                <td>程序部</td>
                <td>杨志华</td>
                <td><small class="label bg-green">有效</small></td>
                <td>
                    <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                    <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>10</td>
                <td>程序部</td>
                <td>杨志华</td>
                <td><small class="label bg-green">有效</small></td>
                <td>
                    <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                    <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>10</td>
                <td>程序部</td>
                <td>杨志华</td>
                <td><small class="label bg-green">有效</small></td>
                <td>
                    <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                    <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>10</td>
                <td>程序部</td>
                <td>杨志华</td>
                <td><small class="label bg-green">有效</small></td>
                <td>
                    <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                    <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>10</td>
                <td>程序部</td>
                <td>杨志华</td>
                <td><small class="label bg-green">有效</small></td>
                <td>
                    <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                    <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>10</td>
                <td>程序部</td>
                <td>杨志华</td>
                <td><small class="label bg-green">有效</small></td>
                <td>
                    <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                    <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>10</td>
                <td>程序部</td>
                <td>杨志华</td>
                <td><small class="label bg-green">有效</small></td>
                <td>
                    <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                    <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>10</td>
                <td>程序部</td>
                <td>杨志华</td>
                <td><small class="label bg-green">有效</small></td>
                <td>
                    <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                    <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>10</td>
                <td>程序部</td>
                <td>杨志华</td>
                <td><small class="label bg-green">有效</small></td>
                <td>
                    <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                    <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>10</td>
                <td>程序部</td>
                <td>杨志华</td>
                <td><small class="label bg-green">有效</small></td>
                <td>
                    <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                    <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>10</td>
                <td>程序部</td>
                <td>杨志华</td>
                <td><small class="label bg-green">有效</small></td>
                <td>
                    <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                    <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>10</td>
                <td>程序部</td>
                <td>杨志华</td>
                <td><small class="label bg-green">有效</small></td>
                <td>
                    <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                    <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>10</td>
                <td>程序部</td>
                <td>杨志华</td>
                <td><small class="label bg-green">有效</small></td>
                <td>
                    <small class="label label-primary"><i class="fa fa-edit"></i> 编辑</small>
                    <small class="label label-danger"><i class="fa fa-times-circle"></i> 删除</small>
                </td>
            </tr>
        </tbody>
    </table>
</section>
<div class="row">
    <div class="col-sm-5">
        <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">第 1 - 10 条记录 总计57条记录</div>
    </div>
    <div class="col-sm-7">
        <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
            <ul class="pagination">
                <li class="paginate_button previous disabled" id="example2_previous"><a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0">第一页</a></li>
                <li class="paginate_button active"><a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0">1</a></li>
                <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0">2</a></li>
                <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0">3</a></li>
                <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="4" tabindex="0">4</a></li>
                <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="5" tabindex="0">5</a></li>
                <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="6" tabindex="0">6</a></li>
                <li class="paginate_button next" id="example2_next"><a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0">最后一页</a></li>
            </ul>
        </div>
    </div>
</div>
